<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><span class="fas fa-hotel"></span>WebSite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-bar"
      aria-controls="navbar-bar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-bar">
      <div class="navbar-nav ms-auto">
        <a class="nav-link" routerLink="/login" routerLinkActive="active" *ngIf="!this._Auth.isLoggedIn" >Login</a>
        <a class="nav-link" routerLink="/register" routerLinkActive="active" *ngIf="!this._Auth.isLoggedIn">Register</a>
        <a class="nav-link" routerLink="/logout" routerLinkActive="active" *ngIf="this._Auth.isLoggedIn" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
