.page {
  display: flex;
}

.nav {
  width: 220px;
  box-shadow: 0 0 10px #ddd;
  height: 100vh;
  position: relative;
  padding: 20px;
  display: block;
}
.content {
  background-color: #f1f5f9;
  padding: 10px;
}