<h3>MyWeb</h3>
<ul>
  <li>
    <a class="d-block">
      <span class="hide-mobile">Settings</span>
    </a>
  </li>
  <li>
    <a class="d-block">
      <span class="hide-mobile" routerLink="/profile">Profile</span>
    </a>
  </li>
  <li>
    <a class="d-block" routerLink="/article/all">
      <span class="hide-mobile">Articles</span>
    </a>
  </li>
  <li>
    <a class="d-block">
      <span class="hide-mobile" routerLink="/booking">Booking</span>
    </a>
  </li>
  <li>
    <a class="d-block">
      <span class="hide-mobile">Analysis</span>
    </a>
  </li>
</ul>
