<div class="container">
  <form [formGroup]="articleForm" (ngSubmit)="addArticle()">
    <div class="form-group">
      <input type="text" placeholder="Category" class="form-control" formControlName="category">
    </div>
    <div class="form-group my-2">
      <input type="text" placeholder="Title" class="form-control" formControlName="title">
    </div>
    <div class="form-group my-2">
      <textarea type="text" placeholder="Title" class="form-control" rows="4" formControlName="body"></textarea>
    </div>
    <button class="btn btn-success">Post</button>
  </form>
  
  <div class="input-group my-2">
  <input #s type="search" (input)="search(s.value)" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-primary">search</button>
  </div>

  <div class="text-center my-5" *ngIf="fetched">
    <app-LoadingSpinner></app-LoadingSpinner>
  </div>

  <div *ngFor="let article of searchArticles" style="cursor: pointer;" class="p-4 m-4 border rounded-4 bg-white position-relative">
    <span class="span" (click)="deleteArticle(article._id)">X</span>
    <h4 routerLink="/article/single/{{article?.['_id']}}">{{article?.['title']}}</h4>
    <hr>
    <p class="d-block">{{article?.['body']}}</p>
    <div>
      <span>{{article?.['likes']?.length}}</span>
      <button class="btn btn-danger" (click)="likeArticle(article?.['_id'])">Like</button>
      <button class="btn btn-primary" >Comment</button>
    </div>
    <form #comment="ngForm" class="comment my-1" (ngSubmit)="addNewComment(comment.value, article._id)">
      <textarea name="body" id="" rows="2" cols="120" ngModel></textarea>
      <button class="btn btn-primary">Comment</button>
    </form>
    
    
    <div class="comments position-relative" *ngFor="let comment of article?.comments">
      <span class="span" (click)="delComment(article._id, comment._id)">X</span>
      <p>{{comment.body}}</p>
      <span class="btn btn-success" (click)="showEdit()">edit</span>
      <div *ngIf="sEdit">
        <input type="text" name="body" #name>
        <button class="btn btn-success" (click)="editComment(article._id, comment._id, name)">done</button>
      </div>
    </div>

    <!-- ==================================================================== -->
<!-- <div class="container mt-5 mb-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="d-flex justify-content-between p-2 px-3">
                    <div class="d-flex flex-row align-items-center"> <img [src]="article.photos" width="50" class="rounded-circle">
                        <div class="d-flex flex-column ml-2"> <span class="font-weight-bold">UserName</span>  </div>
                    </div>
                    <div class="d-flex flex-row mt-1 ellipsis"> <small class="mr-2">20 mins</small> <i class="fa fa-ellipsis-h"></i> </div>
                </div> <img src="https://i.imgur.com/xhzhaGA.jpg" class="img-fluid">
                <div class="p-2">
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-row icons d-flex align-items-center"> <i class="fa fa-heart"></i> <i class="fa fa-smile-o ml-2"></i> </div>
                        <div class="d-flex flex-row muted-color"> <span>2 comments</span> <span class="ml-2">Share</span> </div>
                    </div>
                    <hr>
                    <div class="comments">
                        <div class="d-flex flex-row mb-2"> <img src="https://i.imgur.com/9AZ2QX1.jpg" width="40" class="rounded-image">
                            <div class="d-flex flex-column ml-2"> <span class="name">Daniel Frozer</span> <small class="comment-text">I like this alot! thanks alot</small>
                                <div class="d-flex flex-row align-items-center status"> <small>Like</small> <small>Reply</small> <small>Translate</small> <small>18 mins</small> </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-2"> <img src="https://i.imgur.com/1YrCKa1.jpg" width="40" class="rounded-image">
                            <div class="d-flex flex-column ml-2"> <span class="name">Elizabeth goodmen</span> <small class="comment-text">Thanks for sharing!</small>
                                <div class="d-flex flex-row align-items-center status"> <small>Like</small> <small>Reply</small> <small>Translate</small> <small>8 mins</small> </div>
                            </div>
                        </div>
                        <div class="comment-input"> <input type="text" class="form-control">
                            <div class="fonts"> <i class="fa fa-camera"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div> -->



    <!-- ==================================================================== -->
  </div>
</div>
