<div class="container">
  <h2 class="text-center">Register Form</h2>
  <div *ngIf="isLoading" style="text-align: center;">
    <app-LoadingSpinner></app-LoadingSpinner>
  </div>

  <div class="alert alert-danger" *ngIf="error">
    {{error}}
  </div>

  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a [ngClass]="{'nav-link':true ,'active':selector == 'patient'}" (click)="onSelect()" style="cursor: pointer;">Patient</a>
  </li>
  <li class="nav-item">
    <a [ngClass]="{'nav-link':true ,'active':selector == 'doctor'}" (click)="onSelect()" style="cursor: pointer;">Doctor</a>
  </li>
</ul>

  <div class="content">
    
  <form [formGroup]="registerForm" (ngSubmit)="handleForm('patient')" *ngIf="selector == 'patient'"> 
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control my-2" formControlName="name" placeholder="Name">
      <div class="alert alert-danger" *ngIf="name?.errors && (name?.touched || isSubmitted)">
        <div *ngIf="name?.errors?.['required']">Name Required</div>
        <div *ngIf="name?.errors?.['minLength']">min length 3</div>
        <div *ngIf="name?.errors?.['maxLength']">max length 20</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control my-2" formControlName="email" placeholder="email" >
      <div class="alert alert-danger" *ngIf="email?.errors && (email?.touched || isSubmitted)">
        <div *ngIf="email?.errors?.['required']">email Required</div>
        <div *ngIf="email?.errors?.['email']">min length 3</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control my-2" formControlName="password" placeholder="password">
      <div class="alert alert-danger" *ngIf="password?.errors && (password?.touched || isSubmitted)">
        <div *ngIf="password?.errors?.['required']">Password Is Required</div>
        <div *ngIf="password?.errors?.['pattern']">Password should have many type of chr</div>
      </div>
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <input type="text" class="form-control my-2" formControlName="gender" placeholder="gender">
    </div>
    <div class="form-group">
      <label for="dateOfBirth">Date of Birth:</label>
      <input type="date" class="form-control my-2" formControlName="dateOfBirth" placeholder="date">
      <div class="alert alert-danger" *ngIf="dateOfBirth?.errors && (dateOfBirth?.touched || isSubmitted)">
        <div *ngIf="dateOfBirth?.errors?.['required']">Date of Birth Is Required</div>
      </div>
    </div>
    <button class="btn btn-success">Submit</button>
  </form>

  <form [formGroup]="registerForm2" (ngSubmit)="handleForm('doctor')" *ngIf="selector == 'doctor'"> 
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control my-2" formControlName="name" placeholder="Name">
      <div class="alert alert-danger" *ngIf="name2?.errors && (name2?.touched || isSubmitted)">
        <div *ngIf="name2?.errors?.['required']">Name Required</div>
        <div *ngIf="name2?.errors?.['minLength']">min length 3</div>
        <div *ngIf="name2?.errors?.['maxLength']">max length 20</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control my-2" formControlName="email" placeholder="email" >
      <div class="alert alert-danger" *ngIf="email2?.errors && (email2?.touched || isSubmitted)">
        <div *ngIf="email2?.errors?.['required']">email Required</div>
        <div *ngIf="email2?.errors?.['email']">min length 3</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control my-2" formControlName="password" placeholder="password">
      <div class="alert alert-danger" *ngIf="password2?.errors && (password2?.touched || isSubmitted)">
        <div *ngIf="password2?.errors?.['required']">Password Is Required</div>
        <div *ngIf="password2?.errors?.['pattern']">Password should have many type of chr</div>
      </div>
    </div>
    <div class="form-group">
      <label for="ID">ID:</label>
      <input type="text" class="form-control my-2" formControlName="ID" placeholder="ID">
      <div class="alert alert-danger" *ngIf="ID?.errors && (ID?.touched || isSubmitted)">
        <div *ngIf="ID?.errors?.['required']">ID Is Required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="specialty">Specialty:</label>
      <input type="text" class="form-control my-2" formControlName="specialty" placeholder="specialty">
      <div class="alert alert-danger" *ngIf="specialty?.errors && (specialty?.touched || isSubmitted)">
        <div *ngIf="specialty?.errors?.['required']">Specialty Is Required</div>
      </div>
    </div>

    <button class="btn btn-success">Submit</button>
  </form>
  </div>
</div>