<div class="container">
  <h2 class="text-center">Login Form</h2>
  <div class="alert alert-dange" *ngIf="error">
    {{error}}
  </div>
  <div *ngIf="isLoading" style="text-align: center;">
    <app-LoadingSpinner></app-LoadingSpinner>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="handleLogin()" *ngIf="!isLoading">
    <div class="form-group">
      <label for="email">Email :</label>
      <input type="email" formControlName="email" class="form-control my-1">
      <div class="alert alert-danger" *ngIf="email?.invalid && (email?.touched || isSubmitted)">
          <div *ngIf="email?.errors?.['required']">Email Required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" formControlName="password" class="form-control my-1">
      <div class="alert alert-danger" *ngIf="password?.invalid && (password?.touched || isSubmitted)">
        <div *ngIf="password?.errors?.['required']">Password Required</div>
      </div>
    </div>
    <button class="btn btn-success">Login</button>
  </form>
</div>