<div class="container">
  <h2 class="text-center my-2">Booking Form</h2>
  <div class="alert alert-danger" *ngIf="error">
    {{error}}
  </div>
  <form #bookingForm="ngForm" (ngSubmit)="booking(bookingForm)">
    <div class="form-group my-2">
      <label for="patientName">Patient Name:</label>
      <input type="text" class="form-control" name="patientName" ngModel>
    </div>
    <div class="form-group my-2">
      <label for="doctorName">Doctor Name:</label>
      <input type="text" class="form-control" name="doctorName" ngModel>
    </div>
    <div class="form-group my-2">
      <label for="date">Date:</label>
      <input type="date" class="form-control" name="date" ngModel>
    </div>
    <button class="btn btn-success my-2">Booking</button>
  </form>
</div>